<!doctype html>
<html
  lang="id"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="${pageTitle} ?: 'AduAja'">AduAja</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script src="https://unpkg.com/htmx.org@1.9.12"></script>
    <script src="https://unpkg.com/lucide@latest"></script>
    <link rel="stylesheet" th:href="@{/css/app.css}" />
    <style>
      [x-cloak] {
        display: none !important;
      }
    </style>
    <th:block layout:fragment="extraHead"></th:block>
  </head>
  <body>
    <main layout:fragment="content"></main>

    <script src="/js/app.js"></script>
    <script>
      if (window.lucide) {
        lucide.createIcons();
      }
    </script>
    <th:block layout:fragment="extraScripts"></th:block>
  </body>
</html>
