# Google OAuth2
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Supabase Storage
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_BUCKET=

# Gmail SMTP
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM=

# Database
DATABASE_URL=
DATABASE_USER=
DATABASE_PASSWORD=

# H2 Console
H2_CONSOLE_ENABLED=
H2_CONSOLE_ALLOW_REMOTE=

# JPA & Hibernate
JPA_DDL_AUTO=
JPA_SHOW_SQL=
JPA_FORMAT_SQL=
JPA_USE_SQL_COMMENTS=
JPA_BATCH_SIZE=

# Thymeleaf
THYMELEAF_CACHE=

# File Upload
MAX_FILE_SIZE=
MAX_REQUEST_SIZE=

# Hikari Pool
HIKARI_MAX_POOL=
HIKARI_MIN_IDLE=

# Security
SECURITY_USER_NAME=
SECURITY_USER_PASSWORD=

DEV_MODE=false

# Dropbox
DROPBOX_APP_KEY=
DROPBOX_APP_SECRET=
DROPBOX_REFRESH_TOKEN=

# Hugging Face API
HF_TOKEN=

# Brevo API
BREVO_API_KEY=
MAIL_FROM=