<!doctype html>
<html lang="id" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Admin UI - Alert</title>
  </head>
  <body>
    <div
      th:fragment="alert(variant, extraClass)"
      data-slot="alert"
      role="alert"
      th:with="variant=${variant} ?: 'default'"
      class="relative w-full rounded-lg border px-4 py-3 text-sm grid grid-cols-[0_1fr] gap-y-0.5 items-start"
      th:classappend="${variant == 'destructive'} ? 'bg-red-50 text-red-700 border-red-200' : 'bg-white text-gray-900 border-gray-200'"
      th:classappend="${extraClass}"
    >
      <div th:insert="~{::body}"></div>
    </div>

    <div
      th:fragment="alert-title(extraClass)"
      data-slot="alert-title"
      class="col-start-2 line-clamp-1 min-h-4 font-medium tracking-tight"
      th:classappend="${extraClass}"
    >
      <span th:insert="~{::body}">Alert Title</span>
    </div>

    <div
      th:fragment="alert-description(extraClass)"
      data-slot="alert-description"
      class="text-gray-600 col-start-2 grid justify-items-start gap-1 text-sm"
      th:classappend="${extraClass}"
    >
      <div th:insert="~{::body}">Alert description</div>
    </div>
  </body>
</html>
